- if index == 0
  .item.active
    .row
      .col-sm-5
        .general-img-wrap
          %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
      .col-sm-7
        .mb-60
          %h1= book.title
          %p.lead Smart front-end techniques and design patterns derived from real-life responsive projects
          %p.lead.small= book.authors_name
          .general-align
            %button.disabled.btn Buy Now
- else
  .item
    .row
      .col-sm-5
        .general-img-wrap
          %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
      .col-sm-7
        .mb-60
          %h1= book.title
          %p.lead Smart front-end techniques and design patterns derived from real-life responsive projects
          %p.lead.small= book.authors_name
          .general-align
            %button.disabled.btn Buy Now
